<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Music Store @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="https://kit.fontawesome.com/4755447fee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="wrapper">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <partial name="_NavbarMenuButtonPartial"/>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    @*nav item links for Home, Albums, and Artists*@
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">
                            <span class="fa-brands fa-microblog"></span>&nbsp;Featured
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="List" asp-controller="Album" asp-area="">
                            <span class="fas fa-music"></span>&nbsp;Top Albums
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="List" asp-controller="Artist" asp-area="">
                            <span class="fa-solid fa-microphone-lines"></span>&nbsp;Artists
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @*nav item links for Cart, Registration, and Admin*@
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Cart" asp-area="">
                            <span class="fas fa-shopping-cart"></span>&nbsp;Cart
                            <vc:cart-badge></vc:cart-badge>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Album" asp-area="Admin"
                           my-mark-area-active>
                            <span class="fas fa-cog"></span>&nbsp;Admin
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <header class="jumbotron text-center">
            <h1 class="display-1">Music Store</h1>
            <h2>Welcome to our store!</h2>
        </header>
        <main>
            <my-temp-message/>
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark py-3 footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">Created by: Oscar Acelas</p>
                    <p class="mb-0">Email: oacelasupegui4062@conestogac.on.ca</p>
                    <p class="mb-0">Code: 8804062</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-0">Project: 2</p>
                    <p class="mb-0">Date: Aug 08, 2023</p>
                </div>
            </div>
        </div>
    </footer>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>